<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login Page</title>
    <link href="css/stylesheet.css" rel="stylesheet" />
</head>
    <!DOCTYPE html>
    <body>
	 <div class="login-page">
        <div class="form">

        <form method="post">
            <Label>ENTER THE FIRST NAME </Label><br />
            <input type="text" size="30" name="firstName" placeholder="Enter first name here" /><br />
            <label>ENTER THE LAST NAME</label><br />
            <input type="text" size="30" name="lastName" placeholder="Enter last name here" /><br />
            <label>ENTER THE EMAIL</label><br />
            <input type="text" name="email" /><br />
            <input type="password" placeholder="PASSWORD" name="password"><br/>
            <input type="password" placeholder="CONFIRM PASSWORD" name="password2">
            <label>ENTER FAVOURITE SPORT</label><br />
            <input type="text" size="30" name="favouriteSport" placeholder="Enter favourite sport here" /><br />
            <label>STRONGEST TECHNICAL SKILL</label><br />
            <input type="text" size="30" name="skill" placeholder="Enter strongest technical skill here" /><br />
            <input type="text" name="role" placeholder="Enter Your Role" value="User" />
            <input type="submit" value="Submit" name="submit">

        </form>
		</div>
		</div>
    </body>
</html>


